# --- Python 基本設定 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虛擬環境 (Virtual Environment) ---
# 這是最重要的一項，絕對不要上傳 venv
venv/
env/
.venv/
.env

# --- IDE 設定檔 (不需要上傳你的編輯器設定) ---
.vscode/
.idea/
*.swp

# --- 專案產出的檔案 (Output) ---
# 你不希望每次跑程式產生的 Excel 都被當作程式碼變更

TEST_DATA/
TRAIN/

# --- 作業系統產生的雜檔 ---
.DS_Store
Thumbs.db

# --- 如果你的資料檔很大，也可以忽略 ---
